@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
ol,
li,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,ol{
  list-style: none;
}
/* --------------------------------------------------------------------------------------------------------------- */
body {
  font-family: "Montserrat", sans-serif;
}
.licence-header {
  width: 100%;
  padding: 2rem 0rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: rgb(173, 170, 170); */
}
.head-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 45%;
}
.head-info h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}
.head-info span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #afafb6;
}
.licence-header img {
  width: 30%;
}
.licence-body{
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
.licence-body h2{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.licence-body span{
  display: block;
  font-size: 1rem;
  color: #8e8e96;
  text-align: center;
}
.licence-body ul i{
  font-size: 2rem;
  margin-right: 1rem;
}
.licence-body ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.licence-body ul li p{
  font-size: 1.2rem;
}
.allowed{
  margin-bottom: 1rem;
}
.allowed i{
  color: rgb(38, 214, 38);
}
.not-allowed i{
  color: red;
}
/* ----------------------------------------------------footer---------------------------------------- */
footer {
  font-family: "Poppins", sans-serif;
  background: #000;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details {
  color: #fdd166;
  font-size: 30px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #4267b2;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #e1306c;
}
.top .media-icons a:nth-child(2):hover {
  color: #e1306c;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fdd166;
}
.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #140b5c;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #140b5c;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #000;
  border-top: 0.5px solid #fff;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}

/* ------------------------------------------media-footer------------------------------------------- */
@media (max-width: 900px) {
  .head-info {
    width: 90%;
  }
  .head-info h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .head-info span {
    font-size: 0.8rem;
    font-weight: none;
  }
  .licence-header img {
    display: none;
  }
  .licence-body{
    width: 90%;
    line-height: 2rem;
  }
  .licence-body h2{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .licence-body span{
    font-size: 1rem;
  }
  .licence-body ul i{
    font-size: 1.5rem;
    margin-right: 0.7rem;
  }
  .licence-body ul li p{
    font-size: 1rem;
  }
  .licence-body ul{
    padding: 0px 0px 0px 0px;
  }
  .allowed{
    margin-bottom: 2rem;
  }
/* -------------------------------------------------- */
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}
@media(max-width:320px){
  .company-info p{
    margin-right: 0rem;
  }
}
@media(min-width:767px) and (max-width:1024px){
  .licence-header{
    width: 100%;
  }
  footer{
    width: 100%;
  }
}
