<!DOCTYPE html>
<html lang="en">
{% block content %} {% load static %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'terms.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
  <title>Terms and Conditions</title>
</head>

<body>
  <div class="terms-body">
    <h1 class="head">Terms and Conditions</h1>
    <h1>Eligibility</h1>
    <p>
      The Service is designed for use by people who are at least 13 years old.
      If you are not yet 13, then you can’t use the Service. If you are 13 or
      older, you promise to us that you have never been suspended from the
      Service, and promise that your use of the Service won’t break any laws
      or regulations. If you are using the Service on behalf of a company,
      organization, or other kind of entity, you represent to us that you have
      authority to bind the organization to these Terms on its behalf.
    </p>
    <h1>License to Photos</h1>
    <p>
      One of the best features of the Service permits you to search, view, and download photographs that have been
      uploaded by Pico users (“Photos”). You may download and use Photos from the Service in accordance with, and
      subject to, the Pico License. We encourage you to familiarize yourself with the Pico License. To be sure you don’t
      miss it, here’s the crux of the license:
    </p>
    <p>
      Pico grants you an irrevocable, nonexclusive, worldwide copyright license to download, copy, modify, distribute,
      perform, and use photos from Pico for free, including for commercial purposes, without permission from or
      attributing the photographer or Pico, but this license does not include the right to compile photos from Pico to
      replicate a similar or competing service.
    </p>
    <p>
      This means that Photos on the Service come with a very, very broad copyright license under the Pico License. This
      is why we say that they are “Free to Use.” Note that the Pico License does not include the right to use:
    </p>
    <ul>
      <li>
        Trademarks, logos, or brands that appear in Photos
      </li>
      <li>
        People’s images if they are recognizable in the Photos
      </li>
      <li>
        Works of art or authorship that appear in Photos
      </li>
    </ul>
    <p>If you download photos with any of these depicted in them, you may need the permission of the brand owner of the
      brand or work of authorship or individual depending on how you use the Photo. For more information and, if you
      still aren’t sure, you should probably talk to a lawyer who knows about these things.
    </p>
    <h1>User Content</h1>
    <p>
      When you upload any Content to the Service, you grant us a worldwide, non-exclusive, permanently, irrevocable,
      royalty-free license (with the right to sublicense) to reproduce, adapt and modify (incl. translation),
      distribute, publicly perform, publicly display, broadcast, make available, store and archive and otherwise use
      such Content (in whole or in part) on and through the Service.
    </p>
    <p>
      You acknowledge and confirm that your Content will be made available to the public on and through the Service for
      personal and commercial use of third parties subject to these Terms without providing you attribution or
      compensation.
    </p>
    <p>
      <b>You may not upload, post or transmit any Content that:
    <ul>
      <li>
        Infringes any third party’s copyrights or other intellectual property rights, contract rights or any other
        rights of any person;
      </li>
      <li>
        Contains any pornographic, racist, defamatory, libellous or otherwise immoral, vulgar or obscene content;
      </li>
      <li>
        Depicts unlawful or violent, hateful or threatening or otherwise inappropriate acts;
      </li>
      <li>
        Offends, defames, harasses or otherwise damages Pico or any third party;
      </li>
      <li>
        Violates any law, statute, or regulation.
      </li>
    </ul></b>
  </p><p><b>We reserve the right to remove any Content at any time if we believe it’s defective, of poor quality, or in
      violation of these Terms.</b>
    </p>
    <p>
      You represent and warrant that: (i) the Content is yours (you own it) or you have the right to use it and grant us
      the rights and license as provided in these Terms, and (ii) Pico will not need to obtain licenses from any third
      party or pay a compensation or royalties to any third party with respect to the Content; (iii) Your Content does
      not infringe any third party rights (including in particular copyrights, neighbouring rights, intellectual
      property rights, name rights, right of personality, rights of privacy, data rights or other property rights), and
      (iv) your Content complies with these Terms and all applicable laws.
    </p>
    <p>
      When you upload any Content to the Service you also authorize us under your copyrights to enforce any violations
      of the sublicense we grant in the Content to others. In other words, Pico is entitled to take appropriate measures
      to pursue the rights granted to us hereunder. You shall support us in the court or non-court assertion of the
      acquired rights, in particular by providing information, providing the necessary original documents and other
      documents, making or having made the necessary assignment of rights to Pico, as well as preparing any further
      declarations or documents which should be required or useful for the realisation of the license granted by you to
      Pico
    </p>
    <h1>Disclaimer</h1>
    <p><b>There is no reasonable way for us to monitor all of the User Content that gets uploaded to or posted on the
        Service, and we are under no obligation to you or the other users to monitor, edit, or control the User Content
        that you and other users upload or post to the Service. This means that we are not responsible for any User
        Content on the Service and you agree not to make any claims against us on account of User Content. That said, we
        may at any time remove, edit, screen, or block any User Content from the Service (without notifying you first)
        for any reason, including if we think the User Content violates these Terms or is otherwise objectionable. When
        you use the Service, you will be exposed to the User Content of other users, some of which may be offensive,
        inaccurate, or indecent. We may investigate claims alleging that User Content violates these Terms and, in those
        cases, we alone will decide what actions to take (if any) regarding the User Content in question.</b></p>
    <h1>Ownership of the Service</h1>
    <p>Pico owns and operates the Service. All of the software, visual interfaces, graphics, designs, information,
      compilation of Photos, and all other elements of the Service (the “Materials”) that we provide are protected by
      intellectual property and other laws. We or our licensors own all of the Materials contained in the Service and
      you cannot use the Materials except as you are specifically permitted under these Terms.</p>
  </div>

  <!-- --------------------------------------------------------- Footer -------------------------------------------------------- -->
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <span class="logo_name">Pico</span>
        </div>
        <div class="media-icons">
          <a target="on_blank" href="#"><i class="fab fa-facebook"></i></a>
          <a target="on_blank" href="https://www.instagram.com/pico_india/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Links</li>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'upload' %}">Submit Photo</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Recommended</li>
          <li><a href="{% url 'category' 6 %}">India</a></li>
          <li><a href="{% url 'category' 5 %">Art and Culture</a></li>
          <li><a href="{% url 'category' 11 %">People</a></li>
          <li><a href="{% url 'category' 2 %">Travel</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Legal Info</li>
          <li><a href="{% url 'licence' %}">Licence</a></li>
          <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
          <li><a href="{% url 'privacy' %}">Privacy Policies</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Contact</li>
          <li><a target="on_blank" href="tel:+919079680135">+91 9079680135</a></li>
          <li><a target="on_blank" href="mailto:'connectpicoindia@gmail.com'">contactpicoindia@gmail.com</a></li>
        </ul>
      </div>
    </div>

    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2021 <a href="#">Pico.</a></span>
      </div>
    </div>
  </footer>
</body>
{% endblock %}

</html>